<% unless rodauth.login_form_footer_links.empty? %>
  <ul class="list-group list-group-flush ">
    <% rodauth.login_form_footer_links.sort.each do |_, link, text| %>
      <li class="list-group-item"><%= link_to text, link %></li>
    <% end %>
  </ul>
<% end %>
